<div class="main-container">
  <div class="mycalc">
    <input
      #box
      (keyup.enter)="calvalue(box.value)"
      [(ngModel)]="toShow"
      type="text"
    />
    <div class="all-btn">
      <div class="all-btn-numbers">
        <button #numBtn *ngFor="let num of numbers" (click)="writetoinput(num)">
          {{ num }}
        </button>
        <div class="btn-extra">
          <button (click)="writetoinput('.')">.</button>
          <button (click)="back()">back</button>
        </div>
      </div>
      <div class="all-btn-signs">
        <button *ngFor="let sign of signs" (click)="writetoinput(sign)">
          {{ sign }}
        </button>
      </div>
    </div>
    <div class="btn-clear-equals">
      <button (click)="clearinput()" class="clear">C</button>
      <button (click)="equals()" class="equal">=</button>
    </div>
  </div>
</div>
